{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<script src="{% static 'main/js/sort.js' %}"></script>
	<title>View Page</title>
</head>
<body>
	<header class="header">
		<div class="header__page">
			<a class="header__My-Zoo" href="#">World of Printer</a>
			<a class="header__a" href="{% url 'view' %}" > My Printers </a>
			<a class="header__a" href="{% url 'create' %}" > Create Printer </a>
		</div>
		<nav class="nav">
			<input type="input" class="nav__type" id="nav__type_" placeholder="Type something..." >
			<input type="button" class="nav_search" value="Search" onclick="search();">
			<input type="button" class="nav_clear" value="Clear" onclick="clear_type();">
		</nav>
	</header>
	<main class="main">
		<aside class="manager">
			<div class="manager__wraper">
				<p class="manager_manage-animals">Manage printers</p>
				<div class="manager__sort">
					<span class="manager__sort_span">Sort by the most </br> expensive printers</span>
					<input type="checkbox" id="checkbox1" onclick="sort();"/>
					<label for="checkbox1"><div class="circle"></div></label>
				</div>
				<p class="manager__daily-expenses">Count total expenses</p>
				<div class="manager__count-div">
					<input type="button" class="manager__count" value="Count" OnClick="count();">
				</div>
				<div class="manger__result">
					<p class="manger__result_expenses">Total expenses:</p>
					<p id="manger__result_expenses_sum">₴0.0</p>
				</div>
			</div>
		</aside>


		<div class="block" id = "block_">
			{% for el in printer %}
			<div class="block__box">

				<div>
				<p class="block__box_title">{{ el.title }}</p>
				<p class="block__box_subtitle">{{ el.description }}</p>
				<p class="block__box_text">Price: <span class="block__box_price">{{ el.price }}</span> ₴</p>
				<p class="block__box_text">Speed: <span class="block__box_speed">{{ el.speed }}</span> p/m</p>
				<p class="block__box_last-updated">Last updated
					<span id="block__time">{{ el.date }}</span> </p>
				</div>
				<div class="block__buttons">

					<a href="{% url 'update' el.id %}" class="block__edit">Edit</a>
					<a href="{% url 'delete' el.id %}" class="block__remove">Remove</a>

				</div>

			</div>
			{% endfor %}

		</div>
	</main>
</body>
</html>