.footer{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:url("../../img/footer.jpg") ;
    height: 100px;
    width: 100%;

}